@font-face {
    font-family: "Ayush";
    src: url('./Font-style/Fortune.otf') format("OpenType");
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-family: Ayush;
    font-size: 36px;
    font-weight: 900;
    /* font-style: italic; */
    font-variant: small-caps;
}
p{
    font-size: 26px;
    font-weight: 400;
}