body
{
    background-color: black;
}

#heading{
    color: white;
    font-size: 80px;
}

p{
    width: 600px;
    color: white;
    font-size: 30px;
}

a{
    width: 80px;
    height: 40px;
    background-color: beige;
    padding: 20px;
    margin: 100px;
}

.hero-contain h1::after{
    content: "Ayush";
    text-decoration-line:  underline;
    text-decoration-color: #ae445a;
}

#heading::before{
    content: "Ayush";
}
p::first-letter{
    font-size: 100px;
    color: #ae445a;
    text-decoration-line: underline;
}

p::selection{
    background-color: rgba(255,204, 112,0.5);
}